---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Conclusions from "../components/Conclusions.astro";
import Tables from "../components/Tables.astro";
import Graph from "../components/Graph.astro";
import TeaCup from "../components/TeaCup.astro";
import Circles from "../components/Circles.astro";

import {
  getSiteMetatags,
  getSiteContent,
  Content,
  Metatags,
} from "../utils/api";

const metatags: Metatags = await getSiteMetatags("de");
const content: Content = await getSiteContent("de");
---

<DefaultLayout metatags={metatags}>
  <!-- TODO: CHANGE TITLE AND METATAGS -->
  <section class="margin-48">
    <div class="container">
      <h1>{content.data.attributes.title}</h1><br />
    </div>
  </section>
  <Conclusions content={content} />
  <Tables content={content} />
  <Graph content={content} />
  <TeaCup content={content} />
  <Circles content={content} />
</DefaultLayout>
