---
import { Content } from "../utils/api";

export interface Props {
  content: Content;
}

const { content } = Astro.props as Props;
const title = content.data.attributes.graph.title;
const data = content.data.attributes.graph.graph_data;

// CSS VARIABLES
let colors = {};
let percentage = {};
let total = 0;
let gradiant = "";
data.forEach((item, i) => {
  // color css variables
  if (item.color) {
    colors[`row-${i + 1}`] = item.color;
  }
  // percentage css variables used for the graph
  total += item.true_cost_percentage;
  percentage[`percentage-${i + 1}`] = `${total}%`;
  // background
  gradiant += `var(--row-${i + 1}) 0,`;
  gradiant += `var(--row-${i + 1}) var(--percentage-${i + 1}),`;
  // remove the last coma
  if (data.length === i + 1) {
    gradiant = gradiant.slice(0, -1);
  }
});

const chartBackground = `background: radial-gradient(
        circle closest-side,
        transparent 68%,
        var(--background) 0
      ),
      conic-gradient(
        ${gradiant}
      );`;
---

<div class="container align-center padding-48">
  <figure class="pie-chart" style={chartBackground}>
    <h3>{title}</h3>
    <figcaption>
      {data.map((item, i) => (
        <p>
          {item.title} {item.true_cost_percentage}
          <span style={`color:var(--row-${i + 1});`} />
        </p>
      ))}
    </figcaption>
  </figure>
</div>

<style define:vars={{ ...colors, ...percentage }}>

</style>

<style>
  .pie-chart {
    position: relative;
    width: 100%;
    /* TODO: MAKE MORE RESPONSIVE */
    min-height: 550px;
    margin: 0;
    outline: 1px solid #ccc;
  }

  h3 {
    text-align: center;
    padding-top: 20px;
  }
  p {
    display: inline-flex;
    margin: 0 8px;
  }

  span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .pie-chart cite {
    position: absolute;
    bottom: 0;
    font-size: 80%;
    padding: 1rem;
    color: gray;
  }

  .pie-chart figcaption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-size: smaller;
    text-align: center;
  }

  .pie-chart span:after {
    display: inline-block;
    content: "";
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.4em;
    height: 0.8em;
    border-radius: 0.2em;
    background: currentColor;
  }
</style>
