---
import { table } from "../utils/api";

export interface Props {
  table: table;
}

const { table } = Astro.props as Props;
---

<table>
  <tr>
    <th>Externality</th>
    <th>True cost</th>
    <th>Unit</th>
    <th>True cost (%)</th>
  </tr>
  {table.table_row.map((item) => (
    <tr style={`background-color: ${item.color}`}>
      <td class="externality">{item.externality}</td>
      <td class="cost number">{item.true_cost}</td>
      <td class="unit">{item.unit}</td>
      <td class="percentage number">{item.true_cost_percentage}%</td>
    </tr>
  ))}
</table>

<style>
  .container {
    display: flex;
    justify-content: space-between;
  }

  table {
    border: 2px solid;
    border-collapse: collapse;
    width: auto;
    border-color: #000;
    margin: 0 25px;
  }

  th,
  td {
    padding: 2px 8px;
    text-align: left;
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-color: #000;
  }

  td {
    color: #000;
  }

  .number {
    text-align: right;
  }

  @media only screen and (max-width: 1160px) {
    .container {
      flex-direction: column;
    }

    table {
      margin: 20px 0;
    }
  }

  @media only screen and (max-width: 425px) {
    th,
    td {
      padding: 0px 3px;
    }
  }
</style>
