---
export interface Props {
  tableContent: item[];
  extraClass?: string;
}

type item = {
  externality: string;
  cost: number;
  unit: string;
  percentage: number;
};

const { tableContent, extraClass } = Astro.props as Props;
---

<table class={extraClass}>
  <tr>
    <th>Externality</th>
    <th>True cost</th>
    <th>Unit</th>
    <th>True cost (%)</th>
  </tr>
  {tableContent.map((item, i) => (
    <tr class={`row-${i.toString()}`}>
      <td class="externality">{item.externality}</td>
      <td class="cost number">{item.cost}</td>
      <td class="unit">{item.unit}</td>
      <td class="percentage number">{item.percentage}%</td>
    </tr>
  ))}
</table>

<style>
  .container {
    display: flex;
    justify-content: space-between;
  }

  table {
    border: 2px solid;
    border-collapse: collapse;
    width: auto;
  }

  th,
  td {
    padding: 2px 8px;
    text-align: left;
    border-bottom: 2px solid;
    border-right: 2px solid;
  }

  .number {
    text-align: right;
  }

  .row-0 {
    background-color: var(--row-1);
  }

  .row-1 {
    background-color: var(--row-2);
  }

  .row-2 {
    background-color: var(--row-3);
  }

  .row-3 {
    background-color: var(--row-4);
  }

  .row-4 {
    background-color: var(--row-5);
  }

  .row-5 {
    background-color: var(--row-6);
  }

  .row-6 {
    background-color: var(--row-7);
  }

  @media only screen and (max-width: 1160px) {
    .container {
      flex-direction: column;
    }

    .table-1 {
      margin-bottom: 40px;
    }
  }

  @media only screen and (max-width: 425px) {
    /* .container {
      overflow-x: scroll;
    }

    table {
      width: 500px;
    } */

    th,
    td {
      padding: 0px 3px;
    }
  }
</style>
