---
import "../assets/scss/globals.scss";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { Metatags, Content } from "../utils/api";

export interface Props {
  metatags: Metatags;
  _404?: boolean;
  content: Content;
}

const { metatags, _404, content } = Astro.props as Props;
const description = metatags.data.attributes.description;
const title = _404 ? "404" : metatags.data.attributes.title;
const thumbnailExt = metatags.data.attributes.thumbnail.data.attributes.ext;
const faviconExt = metatags.data.attributes.favicon.data.attributes.ext;
// TODO: CHANGE URL
const webUrl = "https://truepricetea-org.pages.dev/";
---

<html lang={metatags.lang} dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link
      rel="icon"
      type="image/svg+xml"
      href={`assets/cms/${content.lang}/meta/favicon${faviconExt}`}
    />

    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <!-- page title -->
    <title>{title}</title>

    <!-- open graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={webUrl} />
    <meta
      property="og:image"
      content={webUrl +
        `assets/cms/${content.lang}/meta/thumbnail${thumbnailExt}`}
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={webUrl} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta
      property="twitter:image"
      content={webUrl +
        `assets/cms/${content.lang}/meta/thumbnail${thumbnailExt}`}
    />
  </head>
  <body>
    <Header />
    <main id="main-content">
      <slot></slot>
    </main>
    <Footer content={content} />
    <style lang="scss">
      // sticky footer on low content pages
      html,
      body {
        height: 100%;
        overflow-x: hidden;
      }

      body {
        display: flex;
        flex-direction: column;
        background-color: var(--background);

        main {
          flex: 1 0 auto;
        }

        footer {
          flex-shrink: 0;
        }
      }
    </style>
  </body>
</html>
